{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Ingresar</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body style="min-height: 100vh">
    <div
      class="login-clean"
      style="
        height: 100vh;
        background: url({% static 'img/Piloto-17.jpg' %}) center / cover no-repeat;
        min-height: 100vh;
      "
    >
    
      <form method="POST">
        {% csrf_token %}

        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
        <div class="form-group">
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Ingresar
          </button>
        </div>
        <a class="forgot" href="{% url 'registro' %}">No tienes cuenta?</a>
      </form>
      <a
        class="btn btn-primary btn-block btn-lg"
        role="button"
        id="btn-volver"
        href="{% url 'Departamentos' %}"
        style="background-color: rgb(23,162,184)"
        >Vovler</a
      >
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  {% if messages %}
  {% for message in messages  %}
    <script>   
    
    {% if message.tags == 'error' %}
    Swal.fire({
      title: 'Error!',
      text: '{{ message }}',
      icon: 'error',
      confirmButtonText: 'Ok'
    })
    {% else  %}
    Swal.fire({
      title: 'Exito!',
      text: '{{ message }}',
      icon: 'success',
      confirmButtonText: 'Ok'
  
    })
  {% endif %}
    </script>
    {% endfor %}
  {% endif %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
