<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>portafolio</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">

    <link rel="stylesheet" href="assets/css/registro.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="min-height: 100vh;">
    <div class="login-clean" style="min-height: 100vh;background: url(assets/img/Piloto-17.jpg) center / cover no-repeat;">
        <form data-bss-recipient="f09f6a0216af26e731561878fd75ae39" data-bss-subject="Holaaaa" style="padding-top: 30px;">
            <h2 class="sr-only">Login Form</h2>
            <div class="d-flex flex-row justify-content-between align-items-center justify-content-md-start align-items-md-end illustration"><i class="icon ion-ios-navigate d-flex justify-content-md-start" style="font-size: 52px;"></i>
                <p class="my-auto" style="font-size: 24px;margin: 29px;">Registro</p>
            </div>
            <div class="form-group"><label id="rut">Rut:</label><input class="form-control" type="email" id="rut" name="rut" placeholder="ej: 11.111.111-3" autocomplete="on" required=""></div>
            <div class="form-row">
                <div class="col form-group"><input class="form-control" type="text" name="name" placeholder="Nombres"></div>
                <div class="col form-group"><input class="form-control" type="text" placeholder="Apelldios"></div>
            </div>
            <div class="form-group"><label for="dateb">Fecha de nacimiento:</label><input class="form-control" id="dateb" type="date" name="dateb"></div>
            <div class="form-group flex-row align-items-center" style="height: 95px;"><label for="phone" style="width: 440px;height: 38px;">Telefono:</label>
                <div class="d-flex flex-row-reverse justify-content-center align-items-center align-content-center form-row"><input class="form-control" type="tel" style="width: 75%;" name="phone" placeholder="ej:123456789" autocomplete="on" inputmode="tel" required="" maxlength="9">
                    <p class="text-right" style="width: 15%;height: 11px;">+ 56&nbsp;</p><img style="height: 42px;width: 10%;" src="assets/img/chile-flag-1.png"></div>
            </div>

            <div class="form-group"><button class="btn btn-primary btn-block " type="submit">Registrarse</button></div><a class="forgot" href="#">Ya registrado?, Ingresa</a></form><a class="btn btn-primary btn-block btn-lg" role="button" data-bs-hover-animate="pulse"
            id="btn-volver" href="#" style="background-color: rgb(244,71,107);">Vovler</a></div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
 
</body>

</html>