{% extends 'departamentos/base_admin.html' %}
{% load static %}

{% block contenido %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-users"></i>
       Usuarios 
       {% if user.is_superuser and request.resolver_match.url_name == 'Administracion usuarios' %}
       <a class="btn btn-info " href="/admin/usuarios/user/add/?_to_field=id&_popup=1" role="button"><i class="fas fa-plus"></i> </a>
       {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        {% if user.is_superuser and request.resolver_match.url_name == 'Administracion usuarios' %}
                        <th>Editar</th>
                        {% endif %}
                        <th>ID</th>
                        {% if request.resolver_match.url_name != 'Administracion usuarios' %}
                        <th>Departamento</th>
                        {% endif %}
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        {% if request.resolver_match.url_name == 'Administracion usuarios con reserva' or request.resolver_match.url_name == 'Administracion usuarios con arriendo'  %}
                        <th>Transporte</th>
                        {% endif %}
                        {% if request.resolver_match.url_name == 'Administracion usuarios con arriendo'  %}
                        <th>Check-Out</th>
                        {% endif %}
                        {% if request.resolver_match.url_name == 'Administracion usuarios con reserva'  %}
                        <th>Llegada</th>
                        {% endif %}
                        {% if request.resolver_match.url_name == 'Administracion usuarios' %}
                        <th>Tipo</th>
                        <th>Estado</th>
                        {% endif %}
                        
                    </tr>
                </thead>
        
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        {% if user.is_superuser and request.resolver_match.url_name == 'Administracion usuarios' %}
                        <td>    
                            <a class="btn btn-info" href="/admin/usuarios/user/{{ usuario.id }}/change/?_to_field=id&_popup=1" role="button">Editar </a>
                        </td>
                        {% endif %}
                      
                        <td>{{  usuario.id }}</td>
                        {% if request.resolver_match.url_name != 'Administracion usuarios' %}
                        <td>{{ usuario.departamento.direccion }}</td>
                        {% endif %}
                        <td>{{ usuario.first_name }}  </td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.telefono|stringformat:"d"  }}</td>
                        {% if  request.resolver_match.url_name == 'Administracion usuarios con reserva' or request.resolver_match.url_name == 'Administracion usuarios con arriendo' %}
                        <td align="center">
                            
                            <!-- Modal servicio transporte -->
                            <!-- Iconos segun el estado del transporte -->
                            {% if usuario.transporte.estado_verificado and  request.resolver_match.url_name == 'Administracion usuarios con arriendo'  %}
                            <button type="button" class="btn   btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Transporte aceptado,">
                                <i class="fas fa-info"></i>
                            </button>
                            {% elif usuario.transporte.estado_verificado %}
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#transporte-{{ usuario.id }}">
                                <i class="fas fa-check"></i>
                            </button>
                            {% elif usuario.transporte.estado_verificado == False %}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#transporte-{{ usuario.id }}">
                                <i class="fas fa-times"></i>
                            </button>
                            {% elif usuario.transporte == '' %}
                                No solicitado

                         
                            {%  elif usuario.transporte.estado_verificado == None %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#transporte-{{ usuario.id }}">
                                    <i class="fas fa-car-alt"></i>
                                </button>
                            
                            {% endif  %}

                            <!-- Modal -->
                            <div class="modal fade" id="transporte-{{ usuario.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Servicio transporte {{ usuario.first_name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST">{% csrf_token %}
                                            <input type="hidden" name="id-transporte" value="{{ usuario.transporte.id }}" >
                                        <div class="form-group row">
                                            <div class="col">
                                                <label for="desde">Desde:</label>
                                                <input id="desde" readonly name="desde" value="{{ usuario.transporte.desde }}" class="form-control" type="text">
                                            </div>
                                            <div class="col">
                                                <label for="hacia">Hacia: {{ usuario.transporte.estado }}</label>
                                                <input name="hacia" readonly  id="hacia" value="{{ usuario.transporte.hacia }}
                                                " class="form-control" type="text">
                                            </div>
                                        </div>
                                        {% if usuario.transporte_fecha and usuario.transporte.estado_verificado == False    %}
                                        <div class="alert alert-danger" role="alert">
                                            Fecha de solicitud {{ usuario.transporte.fecha_solicitud }}<br>
                                            Fecha de llegada {{ usuario.reserva_actual.dia_llegada }}
                                          </div>
                                       
                                        {% else %}
                                        <div class="alert alert-info" role="alert">
                                            Fecha de solicitud {{ usuario.transporte.fecha_solicitud }}<br>
                                            Fecha de llegada {{ usuario.reserva_actual.dia_llegada }}
                                          </div>
                                        {% endif %}
                                        
                                        {% if usuario.transporte.estado_verificado == False  %}
                                        <div class="alert alert-success" role="alert">
                                            <button type="button" class="btn btn-sm btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Si el usuario aun no esta a menos de 48hrs de su llegada, puede modiicar su solicitud">
                                                <i class="fas fa-info"></i>
                                              </button>
                                              
                                            Transporte rechazado
                                          </div>
                                       
                                        {% elif usuario.transporte.estado_verificado == None or usuario.transporte.estado_verificado  %}  
                                 
                                        <div class="form-group row">
                                            <div class="col">
                                                <label for="hora">Hora:</label>
                                                <input
                                                    id="hora" 
                                                    {% if usuario.transporte.estado_verificado %}    
                                                    readonly
                                                    value="{{ usuario.transporte.hora }}"
                                                    {% endif %}
                                                    name="hora"  class="form-control" type="time">
                                            </div>
                                            <div class="col">
                                                <label for="vehiculo">Vehiculo:</label>
                                                <input 
                                                    name="vehiculo"  
                                                    id="vehiculo" 
                                                    {% if usuario.transporte.estado_verificado %}    
                                                    readonly
                                                    value="{{ usuario.transporte.vehiculo }}"
                                                    {% endif %}
                                                    class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col">
                                                
                                                <label for="vehiconductorculo">Nombre conductor:</label>
                                                <input 
                                                    type="text" 
                                                    name="conductor" 
                                                    {% if usuario.transporte.estado_verificado %}    
                                                    readonly
                                                    value="{{ usuario.transporte.conductor }}"
                                                    {% endif %}
                                                    class="form-control" id="conductor">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col">
                                                {% if usuario.transporte_fecha != True %}
                                                <button class="btn btn-danger" name="btn-transporte-rechazar" type="submit" >
                                                    {%  if usuario.transporte.estado_verificado != True %}
                                                        Rechazar
                                                    {% else %}
                                                        Cancelar
                                                
                                                    {% endif %}

                                                </button>
                                                {%  endif %}
                                            </div>
                                            {%  if usuario.transporte.estado_verificado != True %}
                                            <div class="col">
                                                <button class="btn btn-info" name="btn-transporte-aceptar" type="submit" >Aprobar</button>
                                            </div>
                                            {% endif %}
           
                                        </div>
                                        {% endif %}
                                    </form>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>   
                            <!-- Fin modal servicio transporte -->
                        </td>
                        {% endif %}
                        {% if request.resolver_match.url_name == 'Administracion usuarios con arriendo'  %}
                        <td align="center">
                            <!-- Modal ver inventario -->
                            {% if usuario.arriendo.check_out %}
                            {% if usuario.arriendo.check_out.estado == None %}
                             En espera de respuesta
                            {% endif %}
                            {% else %}
                            <button type="button" class="btn " id="cambio-color-{{ usuario.departamento.id }}" data-toggle="modal"
                            data-target="#ver-inventario-{{ usuario.departamento.id }}">
                            <i class="fas fa-clipboard-list"></i>
                            </button>

                            {% endif %}
                      

                            <div class="modal fade" id="ver-inventario-{{ usuario.departamento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg  modal-dialog-centered modal-dialog-scrollable ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Inventario departamento {{ usuario.departamento.id }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div id="accordion" class="modal-body">
                                            <div class="card mb-4">
                                                <div class="card-header text-center" id="headingTwo">
                                                  <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                      Check-List
                                                    </button>
                                                  </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Nombre</th>
                                                                        <th>Estado</th>
                                                                        <th>Precio</th>
    
                                                                    </tr>
                                                                </thead>
    
                                                                <tbody>
                                                                    {% for inventario in inventarios %}
    
                                                                    {% if inventario.departamento.id == usuario.departamento.id  %}
                                                                    <!-- Script para cambiar de color el boton segun el estado del inventario y mantencion -->
                                                                    <script>
                                                                        function ColorBotonVer() {
                                                                            const estado = '{{ usuario.departamento.inventario.all }}';
                                                                            if (estado.includes('Mal estado')) {
                                                                                document.getElementById("cambio-color-{{ usuario.departamento.id }}")
                                                                                    .classList.add("btn-warning");
                                                                            } else {
                                                                                document.getElementById("cambio-color-{{ usuario.departamento.id }}")
                                                                                    .classList.add("btn-success");
                                                                            }
    
    
                                                                        }
                                                                        ColorBotonVer()
                                                                    </script>
                                                                    <tr>
                                                                        <td>{{ inventario.nombre}}</td>
                                                                        <td>{{ inventario.estado }}
                                                                          
                                                                            <a class="btn btn-info"
                                                                                href="{% url 'Actualizar inventario departamento' inventario.id  %}"
                                                                                role="button"> <i class="fas fa-exchange-alt"></i>
                                                                            </a>
                                                                      
                                                                        </td>
                                                                        <td>${{ inventario.precio }}</td>
                                                                    </tr>
                                                                    {% endif %}
    
    
                                                                    {% endfor %}
                                                            
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-4">
                                                <div class=" card-header">
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nombre</th>
                                                                    <th>Precio</th>

                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                        

                                                               
                                                                <tr>
                                                                    <td>Arriendo</td>
                                                                    <td>$ <strike> {{ usuario.arriendo.check_in.total }}</strike></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Transporte</td>
                                                                    <td>$
                                                                        {% if usuario.arriendo.transporte.precio  > 0%}
                                                                        {{ usuario.arriendo.transporte.precio }}
                                                                        {% else %}
                                                                          0
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tours</td>
                                                                    <td>$ {{ usuario.arriendo.total_tours }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Daños inmuebles</td>
                                                                    <td>$ {{ usuario.reserva_actual.danos_inmuebles }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Total 
                                                                       
                                                                        
                                                                    </td>
                                                                    <td>$ {{ usuario.arriendo.total }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="modal-footer row">
                           
                                            <div class="col">
                                                <a class="btn btn-info"  href="{% url 'Generar check out' usuario.arriendo.id  %}"  role="button">Generar</a>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin modal ver inventario -->

                        </td>
                        {% endif %}
                        {% if request.resolver_match.url_name == 'Administracion usuarios con reserva'  %}
                        <td>
                         
                        {% if usuario.reserva_actual.llegada  %}
                        <a class="btn btn-success"  href="{% url 'Actualizar llegada usuario' usuario.id  %}"  role="button"> <i class="fas fa-exchange-alt"></i></a>
                        {% else %}
                        <a class="btn btn-danger"  href="{% url 'Actualizar llegada usuario' usuario.id  %}"  role="button"> <i class="fas fa-exchange-alt"></i></a>
                        {% endif %}
                        </td>
                        {% endif %}
                        {% if request.resolver_match.url_name == 'Administracion usuarios' %}
                        <td>
                            {% if usuario.is_staff %}
                                Funcionario
                            {% else  %}
                                Cliente
                            {% endif %}
                            
                        </td>

                        <td>
                            {% if usuario.is_active %}
                                {%  if usuario.is_superuser %}
                                    ADMIN
                                {% else %}
                                    Activo  <a class="btn btn-info"  href="{% url 'Actualizar estado usuario' usuario.id  %}"  role="button"> <i class="fas fa-exchange-alt"></i></a>
                                {% endif %}
                                {% if user.is_staff %}
                                 
                                {% else %}
                                    <a class="btn btn-info"  href="{% url 'Actualizar estado usuario' usuario.id  %}"  role="button"> <i class="fas fa-exchange-alt"></i></a>
                                {% endif %}
                            {% else %}
                                Inactivo  <a class="btn btn-info"  href="{% url 'Actualizar estado usuario' usuario.id  %}"  role="button"> <i class="fas fa-exchange-alt"></i></a>
                                {% if user.is_staff %}
                                {% else %}
                                    <a class="btn btn-info"  href="{% url 'Actualizar estado usuario' usuario.id  %}"  role="button"> <i class="fas fa-exchange-alt"></i></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block extra_js %} 

{% if messages %}
{% for message in messages  %}
  <script>   
  
  {% if message.tags == 'error' %}
  Swal.fire({
    title: 'Error!',
    text: '{{ message }}',
    icon: 'error',
    confirmButtonText: 'Ok'
  })
  {% else  %}
  Swal.fire({
    title: 'Éxito!',
    text: '{{ message }}',
    icon: 'success',
    confirmButtonText: 'Ok'

  })
{% endif %}
  </script>
  {% endfor %}
{% endif %}
{% endblock extra_js %}