{% extends 'departamentos/base.html'%}
{% load static %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
<link rel="stylesheet" href="{% static 'css/perfil_reserva.css' %}">
{% endblock extra_css %}
{% block contenido %}

<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="{%  url 'Perfil' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == "Perfil" %}active{% endif %}">Perfil</a>
              <a href="{% url 'Mis reservas' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == "Mis reservas" %}active{% endif %}">Reservas</a>
              <a href="#" class="list-group-item list-group-item-action">Mis Arriendos</a>
     
              
              
            </div> 
		</div>
		<div class="col-md-9">
		    <div class="card custom-card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Mis reservas</h4>
		                    <hr>
		                </div>
                </div>
                {% if reserva != False %}
		            <div class=" wrapper row  justify-content-center align-items-center">
                  <div class="preview col-md-12">
				
                    <div id="preview-big" class="preview-pic tab-content">
                      {% if reserva.departamento.imagen %}
                      <div class="tab-pane active" id="pic-0"><img src="{{ reserva.departamento.imagen.url }}" /></div>
                      {% else %}
                      <div class="tab-pane active" id="pic-0"><img src="{% static 'img/default.jpg' %}" /></div>
                      {% endif %}
            
                      {% for imagen in imagenes %}
                
                      {% if imagen.imagen %}
                      
                      <div class="tab-pane " id="pic-{{ forloop.counter }}"><img src="{{ imagen.imagen.url }}" /></div>
                      {% endif %}
                       {% endfor %}
                     
                    </div>
                    <ul id="preview" class="preview-thumbnail nav nav-tabs">
                      {% if reserva.departamento.imagen %}
                      <li class="active"><a data-target="#pic-0" data-toggle="tab"><img src="{{ reserva.departamento.imagen.url }}" /></a></li>
                      {% else %}
                      <li class="active"><a data-target="#pic-0" data-toggle="tab"><img src="{% static 'img/default.jpg' %}" /></a></li>
                      {% endif %}
                      {% for imagen in imagenes %}
                
                      {% if imagen.imagen %}
                      <li class=""><a data-target="#pic-{{ forloop.counter }}" data-toggle="tab"><img src="{{ imagen.imagen.url }}" /></a></li>
                      
                      {% endif %}
                      {% endfor %}
                    </ul>

                  </div>
           
                  <div class=" col-md-12">
                    
              
                    <h3 class="product-title">{{ reserva.departamento.direccion }}</h3>
                    <h6 class="sizes">m²: {{ reserva.departamento.metros_cuadrados }}
                    <span class="size" data-toggle="tooltip" title="small">Dorm- {{ reserva.departamento.dormitorios }}</span>
                    <span class="size" data-toggle="tooltip" title="medium">baños- {{ reserva.departamento.banos }}</span>
                  
                  </h6>
                  </div>
               
                  <div class="details pl-0 col-md-5">
                    <h6 class="price">Pago: Débito/Crédito </h6>
                    <h6 class="price">estadía: {{ reserva.dias_estadia }} </h6>
                    <h6  class="price ">Acompañantes: 
                      <form class="row ml-1" method="POST" >{% csrf_token %}
                        <input type="number" value="{{ reserva.acompanantes }}" name="acompanantes" class="w-25 form-control-sm form-control" name="" id="">
                        <button name="btn-acompanantes" class="btn btn-info btn-sm"><i class="fas fa-exchange-alt"></i></button>
                      </form>
                    </h6>
                    <h6  class="price">Día llegada: {{ reserva.dia_llegada|date:"SHORT_DATE_FORMAT" }} </h6>
                    <h6  class="price">Día salida: {{ reserva.dia_salida|date:"SHORT_DATE_FORMAT" }} </h6>
      
                  </div>
                
                  <div class="details pr-0  mt-2 col-md-7  text-right ">
           
              
               
                    <h5 class="price "><span>${{ reserva.departamento.precio }}</span>/Dia </h5>
                    <h5 class="price"><span>${{ reserva.abono }}</span>/Abono </h5>
                    <h5 class="price"><span>${{ reserva.diferencia  }}</span>/Dif.</h5>
                    <h5 class="price"><span>${{ reserva.total }}</span>/Total </h5>            
                  </div>
                  <div class="details col-12 d-flex justify-content-center align-items-center">
                    <div class="form-group">
                      <!-- TODO agregar modal selccionar tour -->
                        <!-- Modal tours -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-tours">
                        Servicio tour
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="modal-tours" tabindex="-1" aria-labelledby="modal-toursLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modal-toursLabel">Tours Depto {{ reserva.departamento.direccion }} </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                              <div class="modal-body">
                                <div class="table-responsive">
                                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                      <thead>
                                          <tr>
                                              <th>Nombre</th>
                                              <th>Dia</th>
                                              <th>Dirección</th>
                                              <th>Duracion</th>
                                              <th>Descripción</th>
                                              <th>Precio</th>
                                            
                                              <th>Solicitar   </th>
                                           
                                          </tr>
                                      </thead>
                                      <tbody>
                                          {% for tour in tours %}
                                          {% if tour.departamento.id == reserva.departamento.id %}
                                          <tr>
                                              <td>{{ tour.nombre }}</td>
                                              <td>{{ tour.dia }}</td>
                                              <td>{{ tour.direccion }}</td>
                                              <td>{{ tour.duracion  }} Hrs.</td>
                                              <td align="center">
                                                  <button type="button" class="btn btn-sm btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ tour.descripcion }}">
                                                      <i class="fas fa-eye"></i>
                                                    </button>
                                              </td>
                                              <td>$ {{ tour.precio }}</td>
                                             
                                              <td class="align-middle">
                                               {%  if tour.reserva.id != reserva.id %}
                                          
                                           
                                                <form method="POST">{% csrf_token %}
                                                  <input type="hidden" value="{{ tour.id }}" name="id-tour">
                                                  <input type="hidden" value="{{ reserva.id }}" name="id-reserva">
                                                  <button class="btn btn-primary"name="btn-tour"><i class="fas fa-route"></i></button>

                                                </form>
                                                {% else %}
                                                <p class="text-black">Ya solicitado</p>
                                               {% endif %}
                                              </td>
                                          
                         
                                          </tr>
                                          {% endif %}
                                          {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                             </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Fin modal tours -->
                    </div>
                  </div>
                  <div class="details col-12 d-flex justify-content-center align-items-center">
                    <div class="form-group">
                      
                      <!-- Modal servicio transporte -->
                    
                      {% if request.user.transporte_fecha_documento and request.user.transporte.estado_verificado == True %}
                      <button type="button" class="btn 
                        btn-success
                       " data-toggle="modal" data-target="#modal-transporte">
                        Mi transporte 
                      </button>
       
                      {% elif request.user.transporte_fecha_documento %}
                      <div class="alert alert-success" role="alert">
                        <button type="button" class="btn btn-sm btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Esta a menos de 48h de llegar a su reserva">
                          <i class="fas fa-info"></i>
                        </button>
                        Ya no puede solicitar servicio de transporte
                      </div>
                      {% elif request.user.transporte.estado_verificado == None %}
                      <div class="alert alert-info" role="alert">
                        Transporte solicitado, espere aprobación
                      </div>
                      {% elif  request.user.transporte.estado_verificado == True %}
                      <div class="alert alert-success" role="alert">
                        <button type="button" class="btn btn-sm btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Se le informará 48h antes de su llegada.">
                          <i class="fas fa-info"></i>
                        </button>
                        
                        Solicitud de transporte aprobada
                     </div>
                      {% else %}
                      <button type="button" class="btn 
                                   {% if request.user.transporte.estado_verificado == False %}
                                    btn-warning
                                    {% else %}
                                    btn-primary
                                    {% endif  %}
                                    " data-toggle="modal" data-target="#modal-transporte">
                        Servicio Transporte 
                      </button>
                      {% endif %}
                     
                     

                      <!-- Modal -->
                      <div class="modal fade" id="modal-transporte" tabindex="-1" aria-labelledby="modal-transporteLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modal-transporteLabel">Servicio transporte</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {% if request.user.transporte_fecha_documento and request.user.transporte.estado_verificado == True %}
                              <div class="form-group row">
                                <div class="col text-center">
                                  Desde:
                                </div>
                                <div class="col">
                                  {{ request.user.transporte.desde  }}
                                </div>
                           
                              </div>
                              <hr>
                              <div class="form-group row">
                                <div class="col text-center">
                                  Hacia:
                                </div>
                                <div class="col">
                                  {{ request.user.transporte.hacia  }}
                                </div>
                           
                              </div>
                              <hr>
                              <div class="form-group row">
                                <div class="col text-center">
                                  Hora:
                                </div>
                                <div class="col">
                                  {{ request.user.transporte.hora  }}
                                </div>
                              </div>
                              <hr>
                              <div class="form-group row">
                                <div class="col text-center">
                                  Vehiculo:
                                </div>
                                <div class="col">
                                  {{ request.user.transporte.vehiculo  }}
                                </div>
                              </div>
                              <hr>
                              <div class="form-group row">
                                <div class="col text-center">
                                  Conductor:
                                </div>
                                <div class="col">
                                  {{ request.user.transporte.conductor  }}
                                </div>
                              </div>
                              
                              
                              {% else %}
                              {% if request.user.transporte.estado_verificado == False %}
                              <div class="alert alert-danger" role="alert">
                                Transporte rechazado, actualice por favor
                              </div>
                              {% endif %}
                              <form method="POST" > {% csrf_token %}
                                  <div class="form-group row">
                                      <div class="col">
                                        <label for="desde">Desde:</label>
                                        <input 
                                             {% if request.user.transporte.estado_verificado == False %}
                                             placeholder="Antes: {{ request.user.transporte.desde }}"
                                             {% endif %}
                                              id="desde" 
                                              name="desde" 
                                              class="form-control" 
                                              type="text"
                                              required>
                                      </div>
                                      <div class="col">
                                        <label for="hacia">Hacia:</label>
                                        <input 
                                            {% if request.user.transporte.estado_verificado == False %}
                                            placeholder="Antes: {{ request.user.transporte.hacia }}"
                                            {% endif %}
                                            name="hacia" 
                                            id="hacia" 
                                            class="form-control" 
                                            type="text"
                                            required>
                                      </div>
                                  </div>
                                  <div class="form-group d-flex justify-content-center align-items-center">
                                    <button class="btn btn-info" name="btn-transporte" type="submit" >Solicitar</button>
                                  </div>
                              </form>
                              {% endif %}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>   
                     <!-- Fin modal servicio transporte -->
                 </div>
                  <div class="details w-50">
                    <form name="form-cancelar "    id="form-cancelar" method="POST">{% csrf_token %}
                      
                      <button onclick="cancelarReserva()" type="button" class="btn btn-danger">Cancelar</button>
                      <button  id="btn-cancelar"  name="btn-cancelar" type="submit"  class="btn btn-danger">Cancelar</button>
                    </form>
                  </div>
               
                  <div class="details w-50 d-flex justify-content-end align-items-end ">
                   
                      <button class="btn  btn-info">Arrendar</button>

            

                  </div>
               
		            </div>
		            
            </div>
            {% endif %}
		    </div>
		</div>
	</div>
</div>
{% endblock contenido %}
{% block extra_js %} 
    <!-- Script para eliminar un departamento -->
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
      const cancelarReserva = async () => {
          const {
              value: accept
          } = await Swal.fire({
              title: '¿Desea cancelar su reserva?',
              input: 'checkbox',
              icon: 'question',
              confirmButtonColor: '#CD2737',
              inputValue: 0,
              inputPlaceholder: `Estoy de acuerdo en cancelar mi reserva`,
              confirmButtonText: 'Eliminar <i class="fas fa-trash-alt"></i>',
              cancelButtonText: 'Cancelar',
              inputValidator: (result) => {
                  return !result && 'Por favor marque la casilla'
              }
          })

          if (accept) {

            document.getElementById('btn-cancelar').click()
         
          }

      }
  </script>
{% if messages %}
{% for message in messages  %}
  <script>   

  {% if message.tags == 'error' %}
  Swal.fire({
    title: 'Error!',
    text: '{{ message }}',
    icon: 'error',
    confirmButtonText: 'Ok'
  })
  {% else  %}
  Swal.fire({
    title: 'Éxito!',
    text: '{{ message }}',
    icon: 'success',
    confirmButtonText: 'Ok'

  })
{% endif %}
  </script>
  {% endfor %}
{% endif %}
{% endblock extra_js %}