{% extends 'departamentos/base.html'%}
{% load static %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
<link rel="stylesheet" href="{% static 'css/perfil_reserva.css' %}">
{% endblock extra_css %}
{% block contenido %}

<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="{%  url 'Perfil' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == "Perfil" %}active{% endif %}">Perfil</a>
              <a href="{% url 'Mis reservas' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == "Mis reservas" %}active{% endif %}">Reservas</a>
              <a href="{% url 'Mis arriendos' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == "Mis arriendos" %}active{% endif %}">Mis Arriendos</a>
     
              
              
            </div> 
		</div>
		<div class="col-md-9">
		    <div class="card custom-card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Mis arriendos</h4>
		                    <hr>
		                </div>
                </div>
                {% if reserva != False %}
		            <div class=" wrapper row  justify-content-center align-items-center">
                  <div class="preview col-md-12">
				
                    <div id="preview-big" class="preview-pic tab-content">
                      {% if reserva.departamento.imagen %}
                      <div class="tab-pane active" id="pic-0"><img src="{{ reserva.departamento.imagen.url }}" /></div>
                      {% else %}
                      <div class="tab-pane active" id="pic-0"><img src="{% static 'img/default.jpg' %}" /></div>
                      {% endif %}
            
                      {% for imagen in imagenes %}
                
                      {% if imagen.imagen %}
                      
                      <div class="tab-pane " id="pic-{{ forloop.counter }}"><img src="{{ imagen.imagen.url }}" /></div>
                      {% endif %}
                       {% endfor %}
                     
                    </div>
                    <ul id="preview" class="preview-thumbnail nav nav-tabs">
                      {% if reserva.departamento.imagen %}
                      <li class="active"><a data-target="#pic-0" data-toggle="tab"><img src="{{ reserva.departamento.imagen.url }}" /></a></li>
                      {% else %}
                      <li class="active"><a data-target="#pic-0" data-toggle="tab"><img src="{% static 'img/default.jpg' %}" /></a></li>
                      {% endif %}
                      {% for imagen in imagenes %}
                
                      {% if imagen.imagen %}
                      <li class=""><a data-target="#pic-{{ forloop.counter }}" data-toggle="tab"><img src="{{ imagen.imagen.url }}" /></a></li>
                      
                      {% endif %}
                      {% endfor %}
                    </ul>

                  </div>
           
                  <div class=" col-md-12">
                    
              
                    <h3 class="product-title">{{ reserva.departamento.direccion }}</h3>
                    <h6 class="sizes">m²: {{ reserva.departamento.metros_cuadrados }}
                    <span class="size" data-toggle="tooltip" title="small">Dorm- {{ reserva.departamento.dormitorios }}</span>
                    <span class="size" data-toggle="tooltip" title="medium">baños- {{ reserva.departamento.banos }}</span>
                  
                  </h6>
                  </div>
               
                  <div class="details pl-0 col-md-5">
                    <h6 class="price">Pago: Débito/Crédito </h6>
                    <h6 class="price">estadía: {{ reserva.dias_estadia }} </h6>
                    <h6  class="price ">Acompañantes: {{ reserva.acompanantes }}
                    </h6>
                    <h6  class="price">Día llegada: {{ reserva.dia_llegada|date:"SHORT_DATE_FORMAT" }} </h6>
                    <h6  class="price">Día salida: {{ reserva.dia_salida|date:"SHORT_DATE_FORMAT" }} </h6>
      
                  </div>
                
                  <div class="details pr-0  mt-2 col-md-7  text-right ">
           
              
               
                    <h5 class="price"><span class="text-success" >${{ arriendo.check_in.total }}</span>/Arriendo </h5>
                    <!-- TODO MOSTRAR PRECIO DE TRANSPORTE EN PERFIL RESERVASS -->
                    <!-- TODO TERMINAR DE PONER COSTOS Y CREAR CHECK OUT CON OBJETOS DAÑADOS Y ESO -->
                    <h5 class="price"><span>$     
                      {% if arriendo.transporte.precio  > 0%}
                      {{ arriendo.transporte.precio }}
                      {% else %}
                        0
                      {% endif %}</span>/Transporte</h5>
                    <h5 class="price "><span>$ {{ arriendo.total_tours }} </span>/TOURS </h5>
                    <!-- TODO CREAR PRECIO DE LOS DAÑOS Y EL TOTAL DE TODO (TOUR,ARRIENDO,DAÑOS,TRANSPORTE) -->
                    <h5 class="price"><span>$
                      
                    </span>/inmuebles </h5> 
                    <h5 class="price"><span>$</span>/Total </h5>            
                  </div>
                  <div class="details col-12 d-flex justify-content-center align-items-center">
                    <div class="form-group">
      
                        <!-- Modal tours -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-tours">
                        Servicio tour
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="modal-tours" tabindex="-1" aria-labelledby="modal-toursLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modal-toursLabel">Tours Depto {{ reserva.departamento.direccion }} </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                              <div class="modal-body">
                                <div class="table-responsive">
                                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                      <thead>
                                          <tr>
                                              <th>Nombre</th>
                                              <th>Dia</th>
                                              <th>Dirección</th>
                                              <th>Duracion</th>
                                              <th>Descripción</th>
                                              <th>Precio</th>
                                            
                                              <th>Solicitar   </th>
                                           
                                          </tr>
                                      </thead>
                                      <tbody>
                                          {% for tour in tours %}
                                          {% if tour.departamento.id == reserva.departamento.id %}
                                          <tr>
                                              <td>{{ tour.nombre }}</td>
                                              <td>{{ tour.dia }}</td>
                                              <td>{{ tour.direccion }}</td>
                                              <td>{{ tour.duracion  }} Hrs.</td>
                                              <td align="center">
                                                  <button type="button" class="btn btn-sm btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ tour.descripcion }}">
                                                      <i class="fas fa-eye"></i>
                                                    </button>
                                              </td>
                                              <td>$ {{ tour.precio }}</td>
                                             
                                              <td class="align-middle">
                                                {%  if reserva in tour.reserva.all %}
                                          
                                               
                                                <p class="text-black">Ya solicitado</p>
                                                {% else %}
                                                   <form method="POST">{% csrf_token %}
                                                     <input type="hidden" value="{{ tour.id }}" name="id-tour">
                                                     <input type="hidden" value="{{ reserva.id }}" name="id-reserva">
                                                  
                                                     <button class="btn btn-primary"name="btn-tour"><i class="fas fa-route"></i> </button>
   
                                                   </form>
                                                {% endif %}
                                              </td>
                                          
                         
                                          </tr>
                                          {% endif %}
                                          {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                             </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Fin modal tours -->
                    </div>
                  </div>
                  <div class="details col-12 d-flex justify-content-center align-items-center">
                    <div class="form-group">
                      
                      <!-- Modal servicio transporte -->
                    
                      {% if request.user.transporte_fecha_documento and request.user.transporte.estado_verificado == True %}
                      <button type="button" class="btn 
                        btn-success
                       " data-toggle="modal" data-target="#modal-transporte">
                        Mi transporte 
                      </button>

                      {% else %}
                      <button type="button" class="btn  btn-warning" >
                        No cuenta con servicio transporte 
                      </button>
                      {% endif %}
                     
                     

                      <!-- Modal -->
                      <div class="modal fade" id="modal-transporte" tabindex="-1" aria-labelledby="modal-transporteLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modal-transporteLabel">Servicio transporte</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="form-group row">
                                <div class="col text-center">
                                  Desde:
                                </div>
                                <div class="col">
                                  {{ request.user.transporte.desde  }}
                                </div>
                           
                              </div>
                              <hr>
                              <div class="form-group row">
                                <div class="col text-center">
                                  Hacia:
                                </div>
                                <div class="col">
                                  {{ request.user.transporte.hacia  }}
                                </div>
                           
                              </div>
                              <hr>
                              <div class="form-group row">
                                <div class="col text-center">
                                  Hora:
                                </div>
                                <div class="col">
                                  {{ request.user.transporte.hora  }}
                                </div>
                              </div>
                              <hr>
                              <div class="form-group row">
                                <div class="col text-center">
                                  Vehiculo:
                                </div>
                                <div class="col">
                                  {{ request.user.transporte.vehiculo  }}
                                </div>
                              </div>
                              <hr>
                              <div class="form-group row">
                                <div class="col text-center">
                                  Conductor:
                                </div>
                                <div class="col">
                                  {{ request.user.transporte.conductor  }}
                                </div>
                              </div>
                              
                              
                            
                    
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>   
                     <!-- Fin modal servicio transporte -->
                 </div>
                  <div class="details w-50 ">
                    <form name="form-cancelar "    id="form-cancelar" method="POST">{% csrf_token %}
                      
                      <button type="button" class="btn disabled  btn-danger" data-container="body" data-toggle="popover" data-placement="top" data-content="Para cancelar su arriendo contactese con un funcionario.">
                        Cancelar
                      </button>
                    </form>
                  </div>
                  <div class="details w-50 d-flex justify-content-end align-items-end ">              
                    {% if request.user.reserva_actual.llegada %}
                    <form method="POST">{% csrf_token %}
                      <!-- TODO cambiar funcion a finalizar arriendo osea generar checko ut -->
                      <button  onclick="arrendar()" type="button" class="btn  btn-info ">Finalizar</button>
                      <button id="btn-arrendar" type="submit" name="btn-arrendar" class="btn  btn-info ">Arrendar</button>
                    </form>
                    {% else %}
                      <button type="button" class="btn disabled  btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Espere al día de su llegada">
                          Finalizar
                        </button>
                        
                    {% endif %}
                  </div>
		          </div>
		            
            </div>
            {% endif %}
		    </div>
		</div>
	</div>
</div>
{% endblock contenido %}
{% block extra_js %} 
    <!-- Script para eliminar un departamento -->
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })

      const arrendar = async () => {
        const {
            value: accept
        } = await Swal.fire({
            title: 'Check in ',
            input: 'checkbox',
            icon: 'question',
            confirmButtonColor: '#28A745',
            inputValue: 0,
            showCloseButton: true,
            html:`<p class="text-justify">Este departamento es entregado en perfecto estado, en caso de dañar algun inmueble del departamento, estoy de acuerdo en pagar el valor completo de este, además de desalojar
            el dia acordado el departamento arrendado</p>`,
            inputPlaceholder:`Estoy de acuerdo con los términos y condiciones`,
            confirmButtonText: 'Pagar diferencia <i class="fas fa-dollar-sign"></i>',
            cancelButtonText: 'Cancelar',
            inputValidator: (result) => {
                return !result && 'Por favor marque la casilla'
            }
        })

        if (accept) {

          document.getElementById('btn-arrendar').click()
       
        }

    }
  </script>
{% if messages %}
{% for message in messages  %}
  <script>   

  {% if message.tags == 'error' %}
  Swal.fire({
    title: 'Error!',
    text: '{{ message }}',
    icon: 'error',
    confirmButtonText: 'Ok'
  })
  {% else  %}
  Swal.fire({
    title: 'Éxito!',
    text: '{{ message }}',
    icon: 'success',
    confirmButtonText: 'Ok'

  })
{% endif %}
  </script>
  {% endfor %}
{% endif %}
{% endblock extra_js %}