{% extends 'departamentos/base.html'%}
{% load static %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock extra_css %}
{% block contenido %}

<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="{%  url 'Perfil' %}" class="list-group-item list-group-item-action active">Perfil</a>
              <a href="{% url 'Mis reservas' %}" class="list-group-item list-group-item-action">Reservas</a>
              <a href="#" class="list-group-item list-group-item-action">Mis Arriendos</a>
     
              
              
            </div> 
		</div>
		<div class="col-md-9">
		    <div class="card custom-card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Mi Perfil</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
                          <div class="form-group  ">
                            <div class="form-group img-contenedor">
                               {% if request.user.imagen %}
                               
                               <img src="{{ request.user.imagen.url }}" alt="Imagen perfil" class="img-fluid rounded-circle">
                                {% else %}
                                <img src="{% static 'img/default.jpg' %}" alt="Imagen perfil" class="img-fluid rounded-circle">
                                
                               {%  endif  %}
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                              <input type="file" class="form-control-file" accept="image/*" name="imagenperfil" id="">
                            </div>
                          </div>

                              <div class="form-group row">
                                <label for="name"  class="col-4 col-form-label">Nombres*</label> 
                                <div class="col-8">
                                  <input id="name" value="{{ request.user.first_name }}" required name="nombres" placeholder="Nombres" class="form-control " type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">Apellidos*</label> 
                                <div class="col-8">
                                  <input id="lastname"  value="{{ request.user.last_name }}"  name="apellidos" placeholder="Apellidos" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <!-- TODO cambiar en la bd fecha nacimiento por edad -->
                                <label for="Edad" class="col-4 col-form-label">Edad*</label> 
                                <div class="col-8">
                                  <input id="Edad" name="age" value="" placeholder="Edad" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="telefono" class="col-4 col-form-label">Telefono*</label> 
                                <div class="col-8">
                                  <input id="telefono" name="telefono" required placeholder="Telefono" value="{{ request.user.telefono|stringformat:"d" }}" class="form-control here" required="required" type="number">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email*</label> 
                                <div class="col-8">
                                  <input id="email" name="email" readonly placeholder="Email" value="{{ request.user.email }}"  class="form-control here"  type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="oldpass" class="col-4 col-form-label">Antigua contraseña*</label> 
                                <div class="col-8">
                                  <input id="oldpass" name="oldpass" value="" required placeholder="" class="form-control here" type="password">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">Nueva contraseña</label> 
                                <div class="col-8">
                                  <input id="newpass" name="newpass" value=""  placeholder="" class="form-control here" type="password">
                                </div>
                              </div> 
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary">Actualizar Mi Perfil</button>
                                </div>
                              </div>
                            </form>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>
{% endblock contenido %}
{% block extra_js %} 

{% if messages %}
{% for message in messages  %}
  <script>   

  {% if message.tags == 'error' %}
  Swal.fire({
    title: 'Error!',
    text: '{{ message }}',
    icon: 'error',
    confirmButtonText: 'Ok'
  })
  {% else  %}
  Swal.fire({
    title: 'Éxito!',
    text: '{{ message }}',
    icon: 'success',
    confirmButtonText: 'Ok'

  })
{% endif %}
  </script>
  {% endfor %}
{% endif %}
{% endblock extra_js %}