{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'font/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body style="min-height: 100vh">
      
    <div
      class="login-clean"
      style="
        min-height: 100vh;
        background: url({% static 'img/Piloto-17.jpg' %}) center / cover no-repeat;
        "
    >
      <form
        style="padding-top: 30px;"
        method="POST"
       
      >{% csrf_token  %}
        <h2 class="sr-only">Login Form</h2>
        <div
          class="d-flex flex-row justify-content-between align-items-center justify-content-md-start align-items-md-end illustration"
        >
          <i
            class="icon ion-ios-navigate d-flex justify-content-md-start"
            style="font-size: 52px"
          ></i>
          <p class="my-auto" style="font-size: 24px; margin: 29px">Registro</p>
        </div>
   
        <div class="form-row">
          <div class="col form-group">
            <input
              class="form-control"
              type="text"
              name="name"
              required
              placeholder="Nombres"
            />
          </div>
          <div class="col form-group">
            <input required class="form-control" type="text" name="lastname" placeholder="Apelldios" />
          </div>
        </div>
        <div class="form-group">
          <label  for="dateb">Edad:</label
          ><input   required class="form-control" id="dateb" type="number" name="age" />
        </div>
        <div
          class="form-group flex-row align-items-center"
          style="height: 95px"
        >
          <label required for="phone" style="width: 100%; height: 38px"
            >Telefono:</label
          >
          <div
            class="d-flex flex-row-reverse justify-content-center align-items-center align-content-center form-row"
          >
            <input
              class="form-control"
              type="tel"
              style="width: 75%"
              name="phone"
              placeholder="ej:123456789"
              autocomplete="on"
              inputmode="tel"
              required
              maxlength="9"
            />
            <p class="text-right" style="width: 15%; height: 11px">
              + 56&nbsp;
            </p>
            <img
              style="height: 42px; width: 10%"
              src="{% static 'img/chile-flag-1.png' %}"
            />
          </div>
        </div>
        <div class="form-group d-flex justify-content-center align-items-center">
          <!-- Ingresar modal de tarjeta  -->
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Ingresar tarjeta
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tarjeta de credito</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="name">Nombre:</label>
                              <input required class="form-control" id="name" type="text" placeholder="Nombre titular">
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="ccnumber">Numero de tarjeta: </label>
                              <div class="input-group">
                                  <input class="form-control" type="text" id="ccnumber" name="card" required placeholder="0000 0000 0000 0000" >
                                  <div class="input-group-append">
                                      <span class="input-group-text">
                                        <i class="fas fa-credit-card"></i>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-sm-4">
                          <label for="ccmonth">Mes</label>
                          <select required class="form-control" id="ccmonth">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                          </select>
                      </div>
                      <div class="form-group col-sm-4">
                          <label for="ccyear">Año</label>
                          <select required class="form-control" id="ccyear">
                              <option>2014</option>
                              <option>2015</option>
                              <option>2016</option>
                              <option>2017</option>
                              <option>2018</option>
                              <option>2019</option>
                              <option>2020</option>
                              <option>2021</option>
                              <option>2022</option>
                              <option>2023</option>
                              <option>2024</option>
                              <option>2025</option>
                          </select>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label for="cvv">CVV/CVC</label>
                              <input required class="form-control" id="cvv" type="text" placeholder="123">
                          </div>
                      </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
             
                  </div>
                </div>
              </div>
            </div>
         
          </div> 
        <div class="form-group">
            <label for="email">Correo:</label
            ><input required class="form-control" id="email" type="email" name="email" />
          </div> 
          <div class="form-group">
            <label for="email">Contraseña:</label
            ><input required class="form-control" type="password" name="password" />
          </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Registrarse
          </button>
        </div>
        <a class="forgot" href="{% url 'login' %}">Ya registrado?, Ingresa</a>
      </form>
      <a
        class="btn btn-primary btn-block btn-lg"
        role="button"
        data-bs-hover-animate="pulse"
        id="btn-volver"
        href="{% url 'Departamentos' %}"
        href="{{ request.META.HTTP_REFERER }}"
        >Volver</a
      >
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  {% if messages %}
  {% for message in messages  %}
    <script>   
        console.log('{{ message.tags }}')
     {% if message.tags == 'error' %}
        Swal.fire({
          title: 'Error!',
          text: '{{ message }}',
          icon: 'error',
          confirmButtonText: 'Ok'
        })
    {% else  %}
    Swal.fire({
        title: 'Exito!',
        text: '{{ message }}',
        icon: 'success',
        footer: '<a href="{% url 'login' %}">Desea ingresar?</a>'
    
      })
    {% endif %}
    </script>
    {% endfor %}
  {% endif %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
