{% extends 'base.html'%} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lista_departamentos.css' %}" />
{% endblock extra_css %} {% block contenido %}
<section class="d-flex justify-content-center align-items-center">
  <div class="container-custom">

    {% for departamento in departamentos %}
    <figure class="snip1563">
      {% if departamento.imagen %}
      <img
        src="{{  departamento.imagen.url }}"
        alt="imagen {{ departamento.titulo }}"
      />
      {% else %}
      <img
        src="{% static 'img/default.jpg' %}"
        alt="imagen default {{ departamento.titulo }}"
      />
      {% endif %}
      <figcaption>
        <h3>{{ departamento.precio }}/Dia</h3>
        <span>{{ departamento.dormitorios }} - dorm</span>
        
        <p>  {{ departamento.baños }} - baños </p>
        <p>  {{ departamento.baños }} - M2 </p>
        <a id="ver" href="#">Ver más </a>
      </figcaption>
      <a href="#"></a>
    </figure>

    {% endfor  %}
  </div>
</section>
{% endblock contenido %}
