{% load static %}
<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ request.resolver_match.url_name }}</title>
   
        <link rel="stylesheet" href="{% static  'css/bootstrap.min.css' %}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/styles_admin.css'%}">
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'Administracion departamentos' %}">Panel</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar buscador-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <form id="form-logout-admin" action="{% url 'logout' %}"  method="POST">{% csrf_token %}
                            <a class="dropdown-item" role="button" onclick="document.getElementById('form-logout-admin').submit();" >Salir</a>

                        </form>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Departamentos</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                                Departamentos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse 
                                        {% if request.resolver_match.url_name == 'Administracion departamentos' or request.resolver_match.url_name == 'Administracion departamentos en mantención' or request.resolver_match.url_name == 'Administracion departamentos reservados' or request.resolver_match.url_name == 'Administracion departamentos arrendados' %}
                                        show
                                        {% endif %}
                                        " id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link {% if request.resolver_match.url_name == "Administracion departamentos" %}active{% endif %}" href="{% url 'Administracion departamentos' %}">Disponibles</a>
                                    <a class="nav-link" href="{% url 'Administracion departamentos reservados' %}">Reservados</a>
                                    <a class="nav-link" href="{% url 'Administracion departamentos arrendados' %}">Arrendados</a>
                                    <a class="nav-link" href="{% url 'Administracion departamentos en mantención' %}">Mantención</a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Usuarios</div>
                   
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts-usuarios" aria-expanded="false" aria-controls="collapseLayouts-usuarios">
                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                Usuarios
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse 
                                        {% if request.resolver_match.url_name == 'Administracion usuarios' or request.resolver_match.url_name == 'Administracion usuarios con reserva' or request.resolver_match.url_name == 'Administracion usuarios con arriendo' %}
                                        show
                                        {% endif %}
                                        " id="collapseLayouts-usuarios" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link {% if request.resolver_match.url_name == "Administracion usuarios" %}active{% endif %}" href="{% url 'Administracion usuarios' %}">Disponibilidad </a>
                                    <a class="nav-link {% if request.resolver_match.url_name == "Administracion usuarios con reserva" %}active{% endif %}" href="{% url 'Administracion usuarios con reserva' %}">Reserva </a>
                                    <a class="nav-link {% if request.resolver_match.url_name == "Administracion usuarios con arriendo" %}active{% endif %}" href="{% url 'Administracion usuarios con arriendo' %}">Arriendo </a>
                      
                                </nav>
                            </div>
                       
                            <div class="sb-sidenav-menu-heading">Reportes </div>
                            <a class="nav-link  {% if request.resolver_match.url_name == "Reportes departamentos" %}active{% endif %}" href="{% url 'Reportes departamentos' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Informes reserva
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Estadisticas
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Ingreso como:</div>
                        {% if user.is_superuser  %}
                            Administrador
                        {% elif user.is_staff %}
                           Funcionario
                        {% endif %}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">{{ request.resolver_match.url_name }}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">{{ request.resolver_match.url_name }}</li>
                        </ol>
                        {% block contenido %}
                        {% endblock contenido %}
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Grupo 2 portafolio  2020</div>
                       
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/menu_admin.js' %}" ></script>
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
              })
        </script>
        {% block extra_js %} 
        {% endblock extra_js %}
    </body>
</html>
