{% extends 'departamentos/base.html'%} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lista_departamentos.css' %}" />
{% endblock extra_css %}
 {% block contenido %}
<section class="d-flex justify-content-center align-items-center">
  <div class="container-custom">

    {% for departamento in departamentos %}
    <figure class="snip1563">
      {% if departamento.imagen %}
      <img
        src="{{  departamento.imagen.url }}"
        alt="imagen {{ departamento.direccion }}"
      />
      {% else %}
      <img
        src="{% static 'img/default.jpg' %}"
        alt="imagen default {{ departamento.direccion }}"
      />
      {% endif %}
      <figcaption>
        <h3>{{ departamento.precio }}/Dia</h3>
        <!-- TODO bonito -->
        <p>  {{ departamento.direccion }}  </p>
        <span>{{ departamento.dormitorios }} - dorm</span>
        <p>  {{ departamento.banos }} - baños </p>
        <p>  {{ departamento.banos }}/M2 </p>
        <a id="ver" href="{% url 'Departamento' departamento.id %}">Ver más </a>
      </figcaption>
      <a href="#"></a>
    </figure>

    {% endfor  %}
  </div>
</section>
{% endblock contenido %}
{% block extra_js %}
{% if messages %}
{% for message in messages  %}
  <script>   
  
  {% if message.tags == 'info' %}
  const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 1500,
    onOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })
  
  Toast.fire({
    icon: 'success',
    title: '{{ message }}'
  })
  {% endif %}
  </script>
  {% endfor %}
{% endif %}
{% endblock extra_js %}