{% extends 'departamentos/base_admin.html' %}
{% load static %}
{% block extra_css %}

{% endblock extra_css %}
{% block contenido %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Departamentos
        {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
        <a class="btn btn-info " href="/admin/departamentos/departamento/add/?_to_field=id&_popup=1" role="button"><i
                class="fas fa-plus"></i> </a>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Dirección</th>
                        {% if request.resolver_match.url_name == 'Administracion departamentos reservados' or request.resolver_match.url_name == 'Administracion departamentos arrendados'  %}
                        <th>Cliente</th>
                        {% endif %}
                        <th>Detalles</th>
                        <th>Imagenes</th>
                        <th>Inventario</th>
                    
                        <th>Tours</th>
                        {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' or  request.resolver_match.url_name == 'Administracion departamentos' %}
                        <th>Mantención</th>
                        {% endif %}
                        {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' %}

                        <th> Editar </th>
                        {% endif %}
                        <!-- Solo si es superuser y esta en la interfaz de administracion departamentos mostrar el boton -->
                        {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos' %}
                        <th>Eliminar</th>
                        {% endif %}

                    </tr>
                </thead>

                {% for departamento in departamentos %}

                <tbody>
                    <tr>

                            <td>{{ departamento.id }}</td>
                            <td>{{ departamento.direccion }}</td>
                            {% if request.resolver_match.url_name == 'Administracion departamentos reservados' or request.resolver_match.url_name == 'Administracion departamentos arrendados' %}
                            <td> {{ departamento.usuario }}</td>
                            {% endif %}

                <td align="center">
                    <!-- Modal ver detalles -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#ver-detalle-{{ departamento.id }}">
                        <i class="fas fa-eye"></i>
                    </button>


                <div class="modal fade" id="ver-detalle-{{ departamento.id }}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Detalle departamento
                                    {{ departamento.id }}</h5>
                                <button type="button" name="btn-imagenes" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card mb-4">
                                    <div class="card-header text-center ">

                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Baños</th>
                                                        <th>Dormitorios</th>
                                                        <th>M²</th>
                                                        <th>Precio</th>

                                                    </tr>
                                                </thead>

                                                <tbody>


                                                    <tr>
                                                        <td>{{ departamento.banos }}</td>
                                                        <td>{{departamento.dormitorios  }}</td>
                                                        <td>{{ departamento.metros_cuadrados  }}</td>
                                                        <td>$ {{ departamento.precio }}</td>
                                                    </tr>



                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                                        </div>
                        </div>
                        </div>
                        </div>
<!-- Fin modal ver detalles -->
</td>
<td align="center">
    <!-- Modal ver imagenes -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ver-imagen-{{ departamento.id }}">
        <i class="fas fa-eye"></i>
    </button>


    <div class="modal fade" id="ver-imagen-{{ departamento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Imagenes departamento {{ departamento.id }}</h5>
                    <button type="button" name="btn-imagenes" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card mb-4">
                        <div class="card-header text-center ">
                            {% if user.is_superuser and  request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
                            <form enctype="multipart/form-data" method="POST">{% csrf_token %}

                                <div class="form-group">
                                    <input type="hidden" name="idDep" value="{{ departamento.id }}">
                                    <input type="file" required accept="image/*" name="imagenDep"
                                        class="form-control-file" id="imagen-input">

                                </div>

                                <button type="submit" class="btn btn-info" name="btn-imagenes"> <i
                                        class="fas fa-images"></i> Agregar </button>

                            </form>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Foto</th>
                                            {% if user.is_superuser and  request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
                                            <th>Eliminar</th>
                                            {% endif %}
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for imagen in imagenes %}
                                        {% if imagen.imagen %}
                                        {% if imagen.departamento.id == departamento.id  %}

                                        <tr>
                                            <td><img class="mx-auto img-fluid w-50  mx-auto d-block img-thumbnail"
                                                    src="{{ imagen.imagen.url }}" alt=""></td>
                                            {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
                                            <td class="align-middle"> <a class="btn btn-danger"
                                                    href="{% url 'Eliminar imagen departamento' imagen.id  %}"
                                                    role="button"> Eliminar</a></td>
                                            {% endif %}
                                        </tr>
                                        {% endif %}
                                        {% endif %}

                                        {% endfor %}


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal ver imagenes -->
</td>
<td align="center">
    <!-- Modal ver inventario -->
    <button type="button" class="btn " id="cambio-color-{{ departamento.id }}" data-toggle="modal"
        data-target="#ver-inventario-{{ departamento.id }}">
        <i class="fas fa-eye"></i>
    </button>


    <div class="modal fade" id="ver-inventario-{{ departamento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered modal-dialog-scrollable ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inventario departamento {{ departamento.id }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card mb-4">
                        <div class=" card-header">
                            {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
                            <form enctype="multipart/form-data" method="POST">{% csrf_token %}

                                <div class="form-group">
                                    <input type="hidden" name="idInv" value="{{ departamento.id }}">
                                    <div class="row">
                                        <div class="col">
                                            <input class="form-control" placeholder="Nombre" required name="nombreInv"
                                                type="text">
                                        </div>
                                        <div class="col">
                                            <input type="number" placeholder="precio" name="precioInv"
                                                class="form-control">
                                        </div>
                                    </div>

                                </div>

                                <button type="submit" class="btn align-middle float-right  btn-info"
                                    name="btn-inventario"> <i class="fas fa-cubes"></i> Agregar </button>

                            </form>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Estado</th>
                                            <th>Precio</th>
                                            {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
                                            <th>Eliminar</th>
                                            {% endif %}

                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for inventario in inventarios %}

                                        {% if inventario.departamento.id == departamento.id  %}
                                        <!-- Script para cambiar de color el boton segun el estado del inventario y mantencion -->
                                        <script>
                                            function ColorBotonVer() {
                                                const estado = '{{ departamento.inventario.all }}';
                                                if (estado.includes('Mal estado')) {
                                                    document.getElementById("cambio-color-{{ departamento.id }}")
                                                        .classList.add("btn-warning");
                                                } else {
                                                    document.getElementById("cambio-color-{{ departamento.id }}")
                                                        .classList.add("btn-success");
                                                }


                                            }
                                            ColorBotonVer()
                                        </script>
                                        <tr>
                                            <td>{{ inventario.nombre}}</td>
                                            <td>{{ inventario.estado }}
                                                {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
                                                <a class="btn btn-info"
                                                    href="{% url 'Actualizar inventario departamento' inventario.id  %}"
                                                    role="button"> <i class="fas fa-exchange-alt"></i></a>
                                                {% endif %}
                                            </td>
                                            <td>${{ inventario.precio }}</td>
                                            {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
                                            <td class="align-middle"> <a class="btn btn-danger "
                                                    href="{% url 'Eliminar inventario departamento' inventario.id  %}"
                                                    role="button"> Eliminar</a></td>
                                            {% endif %}
                                        </tr>
                                        {% endif %}


                                        {% endfor %}
                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal ver inventario -->
</td>


<td align="center">
    <!-- Modal ver tours -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ver-tour-{{ departamento.id }}">
        <i class="fas fa-route"></i>
    </button>


    <div class="modal fade" id="ver-tour-{{ departamento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tours departamento {{ departamento.id }}</h5>
                    <button type="button" name="btn-tour" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id='accordion' class="modal-body">
                    {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
                    <div class="card mb-4">
                        <div class="card-header text-center" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Crear tour
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <form method="POST" >{% csrf_token %}
                                <input type="hidden" value="{{ departamento.id }}" name="idTour">
                                <div class="form-group">
                                    <label for="nombre-tour">Nombre del tour:</label>
                                    <input required id="nombre-tour" name="nombretour" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="direccion-tour">Dirección:</label>
                                    <input required id="direccion-tour" name="direcciontour" class="form-control" required type="text">
                                </div>
                                <div class="form-group row">
                                    <div class="col">
                                        <label for="dia-tour">Dia:</label>
                                        <select required class="form-control" name="dia" id="dia-tour">
                                            <option value="Lunes">Lunes</option>
                                            <option value="Martes">Martes</option>
                                            <option value="Miercoles">Miercoles</option>
                                            <option value="Jueves">Jueves</option>
                                            <option value="Virenes">Viernes</option>
                                            <option value="Sabado">Sabado</option>
                                            <option value="Domingo">Domingo</option>

                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="duracion-tour">Duracion (hrs):</label>
                                        <input required class="form-control" id="duracion-tour" name="duraciontour"  type="number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="precio-tour">Precio:</label>
                                    <input required type="number" class="form-control" name="preciotour" id="precio-tour">
                                </div>
                                <div class="form-group">
                                    <label for="descripcion-tour">Descripcion:</label>
                                    <textarea required name="descripciontour" class="form-control" id="descripcion-tour" cols="15" rows="5"></textarea>
                                </div>
                                <div class="form-group d-flex justify-content-center">
                                    <button name="btn-tour" class="btn btn-info" type="submit">Agregar</button>

                                </div>
                            </form>
                          </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card mb-4">
                        <div class="card-header text-center ">

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Dia</th>
                                            <th>Dirección</th>
                                            <th>Duracion</th>
                                            <th>Descripción</th>
                                            <th>Precio</th>
                                            {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
                                            <th>Eliminar</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tour in tours %}
                                        {% if tour.departamento.id == departamento.id %}
                                        <tr>
                                            <td>{{ tour.nombre }}</td>
                                            <td>{{ tour.dia }}</td>
                                            <td>{{ tour.direccion }}</td>
                                            <td>{{ tour.duracion  }}</td>
                                            <td align="center">
                                                <button type="button" class="btn btn-sm btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ tour.descripcion }}">
                                                    <i class="fas fa-eye"></i>
                                                  </button>
                                            </td>
                                            <td>{{ tour.precio }}</td>
                                            {% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
                                            <td class="align-middle text-white"> <a class="btn btn-danger"
                                                  href="{% url 'Eliminar tour departamento' tour.id %}"  role="button"> <i class="fas fa-trash-alt"></i></a>
                                                </td>
                                            {% endif  %}    
                       
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal ver tours -->
</td>
{% if user.is_superuser and request.resolver_match.url_name == 'Administracion departamentos en mantención' or  request.resolver_match.url_name == 'Administracion departamentos' %}
<td align="center">
    <!-- Modal ver mantencion -->
    <button type="button" id="color-mantencion-{{ departamento.id }}" class="btn  " data-toggle="modal"
        data-target="#ver-mantencion-{{ departamento.id }}">
        <i class="fas fa-tools"></i>
        <script>
            {% if departamento.dia_mantencion %}
            document.getElementById("color-mantencion-{{ departamento.id }}").classList.add("btn-danger"); 
            {% else %}
            document.getElementById("color-mantencion-{{ departamento.id }}").classList.add("btn-primary"); 
            {% endif %}
        </script>
    </button>


    <div class="modal fade" id="ver-mantencion-{{ departamento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dia mantención Depto. {{ departamento.id }}</h5>
                    <button type="button" name="btn-imagenes" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card mb-4">
                        <div class="card-header text-center d-flex flex-column">
                            {% if user.is_superuser  and  request.resolver_match.url_name == 'Administracion departamentos'  %}
                            <form class="text-center" method="POST">{% csrf_token %}
                                Asignar Mantencion
                                <div class="form-group">
                                    <input type="hidden" value="{{ departamento.id }}" name="idDepMantencion">
                                    <input type="date" required class="form-control" name="fechamantencion"
                                        id="fechamantencion">
                                </div>
                                <div class="form-group  d-flex justify-content-center align-items-center">
                                    <button type="submit" name="btn-mantencion" class="btn btn-info">Asignar</button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Dia de mantención</th>
                                            <th>Estado mantención</th>

                                        </tr>
                                    </thead>

                                    <tbody>


                                        <tr>
                                            <td>
                                                {% if departamento.mantencion == None %}
                                                No programada
                                                {% elif departamento.dia_mantencion %}
                                                La mantención es hoy!
                                                {% else%}
                                                {{ departamento.mantencion|date:"SHORT_DATE_FORMAT" }}


                                                {% endif %}
                                            </td>
                                            <td>{{ departamento.estado_mantencion|yesno:"En Mantención,Buen estado" }}
                                                {% if user.is_superuser  and request.resolver_match.url_name == 'Administracion departamentos en mantención' or request.resolver_match.url_name == 'Administracion departamentos'  %}
                                                <a class="btn btn-info"
                                                    href="{% url 'Actualizar estado mantencion' departamento.id  %}"
                                                    role="button"> <i class="fas fa-exchange-alt"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>



                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal ver mantencion -->

</td>
{% endif %}
{% if user.is_superuser and  request.resolver_match.url_name == 'Administracion departamentos en mantención' %}
<td align="center">
    <div class="action">
        <a class="btn btn-info"
            href="/admin/departamentos/departamento/{{ departamento.id }}/change/?_to_field=id&_popup=1"
            role="button"><i class="fas fa-edit"></i> </a>
    </div>
</td>
{% endif %}
<!-- Solo si se encuentra departamentos disponibles muestra el boton eliminar -->
{% if  request.resolver_match.url_name == 'Administracion departamentos' %}
<td align="center">
    <button onclick="eliminarDepto_{{ departamento.id }}()" class="btn btn-danger"><i class="fas fa-trash-alt"></i>
    </button>
    <!-- Script para eliminar un departamento -->
    <script>
        const eliminarDepto_{{ departamento.id }} = async () => {
            const {
                value: accept
            } = await Swal.fire({
                title: 'Desea eliminar el Depto {{ departamento.id }}',
                input: 'checkbox',
                icon: 'question',
                confirmButtonColor: '#CD2737',
                inputValue: 0,
                inputPlaceholder: `Me hago responsbale de eliminar el Depto ID {{ departamento.id }}`,
                confirmButtonText: 'Eliminar <i class="fas fa-trash-alt"></i>',
                cancelButtonText: 'Cancelar',
                inputValidator: (result) => {
                    return !result && 'Por favor marque la casilla'
                }
            })

            if (accept) {

                var url = `{% url "Eliminar departamento" departamento.id  %}`;
                window.location.pathname = url;
            }

        }
    </script>
</td>
{% endif %}
</tr>

</tbody>
{% endfor %}
</table>

</div>
</div>
</div>
{% endblock contenido %}

{% block extra_js %}

{% if messages %}
{% for message in messages  %}
<script>
    {% if message.tags == 'error' %}
    Swal.fire({
        title: 'Error!',
        text: '{{ message }}',
        icon: 'error',
        confirmButtonText: 'Ok'
    }) {% elif message.tags == 'info' %}
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        onOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    Toast.fire({
        icon: 'success',
        title: '{{ message }}'
    }) {%else %}
    Swal.fire({
        title: 'Éxito!',
        text: '{{ message }}',
        icon: 'success',
        confirmButtonText: 'Ok'

    }) {% endif %}
</script>
{% endfor %}
{% endif %}
{% endblock extra_js %}